.container {
  margin: auto;
  width: 100%;
  max-width: 1440px;
}

.homeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
}
.homeHeaderLogotipo {
  display: none;
}
.homeMain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
  flex-flow: row wrap;
  color: #343633;
}
.homeMain div h1 {
  text-align: left;
  font-size: clamp(2rem, 10vw, 4vw);
  max-width: max(25rem, 35rem);
}
.homeFooter {
  width: 100%;
  max-width: 1440px;
  height: 25px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.homeFooterSVG {
  width: 100%;
  overflow: hidden;
}

.homeFooterContent {
  background-color: #025496;
  margin-top: -25px;
  color: #fcfcfc;
}
.homeFooterContent h4 {
  font-weight: 400;
  font-size: clamp(1rem, 1vw, 15vw);
}
.homeFooterContentSobre {
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  flex-flow: row wrap;
}
.homeFooterContentSobre div {
  margin: 25px;
}
.homeFooterContentSobreText {
  text-align: left;
  font-size: clamp(1rem, 2vw, 4vw);
  max-width: 75rem;
}

.homeFooterContentSobreText p {
  font-weight: 400;
}
.homeFooterContentSobreText h2 {
  text-align: center;
  font-size: clamp(2rem, 2vw, 4vw);
}
@media (max-width: 1440px) {
  .homeFooterContentSobreText {
    max-width: 25rem;
  }
}
@media (max-width: 1130px) {
  .homeMain div h1 {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .homeHeader button:nth-child(2) {
    display: none;
  }
  .homeHeaderLogotipo {
    display: block;
  }
  .homeHeaderLogo {
    display: none;
  }
}
