.buttonDefault {
  font-size: 1em;
  margin: 0.3em;
  padding: 0.25em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);
  border-radius: 13px;
  width: 119px;
  height: 46px;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.buttonDefault:hover {
  opacity: 80%;
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
