.buttonDefault{
  font-size: 1em;
  margin: .3em;
  padding: 0.25em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .3);
  border-radius: 13px;
  width: 119px;
  height: 46px;
  border: none;
  position: relative;
  transition: all .5s;
  padding-left: 30px;
}
.buttonDefault:hover{
  padding-left: 0px;
}
.buttonDefault::after{
  content: ">>";
  visibility: hidden;
  padding-left: 5px;
}
.buttonDefault:hover:after{
  visibility: visible;
}